 @tailwind base;


 @tailwind components;


 @tailwind utilities;

 .btn{
    @apply bg-gray-700 text-white font-bold rounded border-gray-900 px-4 py-2 border-b-4;
 }
 .prendas-list{
   columns: 3;
   -moz-columns: 3;
}

.prendas-list li{
   break-inside: avoid-column;

}
